html {
  height: 100%;
  width: 100%;
  background-color: #212529;
}
body {
  background-color: #212529 !important;
  color: #CED4DA !important;
}
.intro hr {
  width: calc(100vw - var(--bs-gutter-x));
  margin-left: calc(var(--bs-gutter-x)* .5);
}
.subject-table {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.subject-table-content {
  margin: auto;
  display: flex;
  align-items: end;
  margin-bottom: 15px;
  height: 40px;
 
  

}
.mt-content {
  flex-wrap:wrap;
}
.subject-table tr td {
  margin: auto;
  
}
.subject-element {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: start;
  justify-content: center;
  
}
.subject-element label {
  
  flex-grow: 1;
  margin-right: 10px;
  width: 60px;
  font-size: 18px;
  
}


.subject-element select:disabled {
  color: black;
}
.subject-name-input {
  width: 200px;
}
.subject-element select {
  flex-grow: 1;
  margin-left: 0px;
  flex-shrink: 1;
  
  max-width: 90%;
  padding: 7px;
  border-radius: 20px;
}
/*.subject-element:first-child {
  min-width: 100px;
}*/
.subject-area {
  max-width: 350px;
  height: 100%;
  
  padding: 25px;

  /*border: 2px solid #3bc9db;
  border-radius: 25px;*/
  
}
.subject-area-row > .col-12 {
  
  height: auto;
}
.subject-area-row {
  justify-content: space-between;
  align-items: stretch;
  
}
.page-wrapper {
  width: 100%;
  max-width: 900px;
  margin: auto;
  
  padding: 20px 50px;
}
li {
  margin-left: calc(var(--bs-gutter-x) * .5)
}
#results {
  color: white;
  font-size: 60px;
  white-space:nowrap;
}
.results-rp {
  font-size: 30px;
  color: #CED4DA;
}
a {
  color: #3bc9db;
}
a:visited {
  color: #3bc9db;
}
a:hover {
  color: #FFF;
}
.h1-subjects-row .col-12 {
  height: 100%
}
#HMT {
  display: none;
}
#submit {
  width: 50%;
  min-width: 240px;
  text-align: center;
  border: 2px solid #3bc9db;
  border-radius: 25px;
  padding: 15px;
  font-weight: bold;
  font-size: 1.5em;
  color: inherit;
  background-color: inherit;
  margin: auto;
  transition:0.1s;
  margin-top: 50px;
}
#submit:hover {
  
 
  color: inherit;
  background-color: #3bc9db;
  box-shadow: 5px 5px 5px black;
  
 
}
.submit-button-row {
  margin-bottom: 50px;
}

#results-area {
  display: none;
}
#results-area {
  display: none;
}
@media only screen and (max-width: 500px) {
    .tooltip-contents::after{
      display: block;
      content: "Click anywhere to dismiss";
      font-size: 12px;
      margin-top: 10px;
      border-top: 2px solid #CED4DA;
      
      color: #CED4DA;
    }
    .page-wrapper {
      width: 100%;
      max-width: 100%;
      
      
      padding: 20px;
    }
    .subject-element label {
      display: none;
    }
    
}
