html {
  height: 100%;
  width: 100%;
  background-color: #212529;
}
body {
  background-color: #212529 !important;
  color: #CED4DA !important;
}
.intro hr {
  width: calc(100vw - var(--bs-gutter-x));
  margin-left: calc(var(--bs-gutter-x)* .5);
}
.subject-element {
  display: flex;
  flex-direction: column;
  
  
}
.subject-element label {
  flex-grow: 1
  
}
.subject-element input {
  flex-grow: 1;
  margin-left: 10px;
  flex-shrink: 1;
  min-width: 100px;
  max-width: 90%;
}

.subject-element select {
  flex-grow: 1;
  margin-left: 0px;
  flex-shrink: 1;
  max-width: 100px;
}
.subject-area {
  max-width: 350px;
  margin-bottom: 50px;
  padding: 25px;
  border: 2px solid #3bc9db;
  border-radius: 25px;
}
.subject-area-row {
  justify-content: space-between;
}
.page-wrapper {
  width: 100%;
  max-width: 900px;
  margin: auto;
  
  padding: 20px 50px;
}
li {
  margin-left: calc(var(--bs-gutter-x) * .5)
}
#results {
  color: white;
  font-size: 60px;
  white-space:nowrap;
}
.results-rp {
  font-size: 30px;
  color: #CED4DA;
}
a {
  color: #3bc9db;
}
a:visited {
  color: #3bc9db;
}
a:hover {
  color: #FFF;
}
